{% extends "Dashboard/layout.html" %}

{% block title %} ClassView {% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <h3>{{ class.name }}</h3>
    {% if user.role == "instructor" %}
    <form action = "{% url 'add_student' class.id %}", method="post">
        {% csrf_token %}
        <label for="students">Add Student:</label>
        <div class="form-group">
            <select name="student">   
            {% for stud in students %}
                <option value = "{{ stud.id }}" >{{ stud.username }}</option>
            {% endfor %}
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Add">
    </form>

    <form action = "{% url 'add_ta' class.id %}", method="post">
        {% csrf_token %}
        <label for="students">Add TA:</label>
        <div class="form-group">
            <select name="ta">   
            {% for stud in students %}
                <option value = "{{ stud.id }}" >{{ stud.username }}</option>
            {% endfor %}
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Add">
    </form>
    {% endif %}
    <h3>Sent Notifications</h3>
    {% for notif in notifications %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'notification_view' notif.id %}">{{ notif.topic }}</a>
        </li>
    {% empty %}
        <h4>No notifications sent yet</h4>
    {% endfor %}
{% else %}
    <h3>Login to access functionalities.</h3>
{% endif %}

{% endblock %}
