{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Dashboard{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'Dashboard/bootstrap.min.css' %}">
        <link href="{% static 'Dashboard/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">DASHBOARD</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }} as {{ user.role }}</strong></a>
                    </li>
                {% endif %}
               
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pending_instructor' %}">Pending Request</a>
                    </li>
                {% endif %}

                {% if user.role == "instructor" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'notification' %}">Add Notification</a>
                    </li>
                {% endif %}
                
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
