{% extends "Dashboard/layout.html" %}
{% load static %}
<head>
    <style>
        h2{
            color:darkblue;
        }
    </style>
    <link rel="stylesheet" href="{% static 'Dashboard/bootstrap.min.css' %}">
    <link href="{% static 'Dashboard/styles.css' %}" rel="stylesheet">
</head>
{% block title %} Notifications {% endblock %}
{% block body %}
{% if user.is_authenticated %}
    <h2>{{ notif.class_group }}</h2>
    <br>
    <h3 style="color: rgb(64, 113, 206)">{{ notif.topic }}</h3>
    <p>{{ notif.timestamp }}</p>
    <p>{{ notif.body }}</p>
    <i style="color: grey;">Seen by {{ seen_count }} ({{ total }})</i>
    <br>
    {% for s in seen %}
        {{ s.username }}
        <br>
    {% endfor %}
    {% if user.role == "instructor" %}
    
    <form action="{% url 'notification_view' notif.id %}" method="POST">
        {% csrf_token %}
        <br>
        <button type = "submit" class="btn btn-success btn-md center-block" name="button" Style="width: 150px;" value="send">Send Again</button>
        <button type = "submit" class="btn btn-danger btn-md center-block" name="button" Style="width: 150px;" value="delete">Delete</button>
    </form>
    {% endif %} 
{% else %}
    <h3>Login to access functionalities.</h3>
{% endif %}

{% endblock %}
