body {
  padding: 10px;
  border: 1px solid value;
}
.elem{
  border: thin solid grey ; 
  margin-left:33.5%; 
  padding: 5px; color: skyblue;
  border-radius: 5px;
  background-color: lightblue;
}
head{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  top: 50%;
  padding: 10px; 
  margin-left: 0%;
  text-align: center;
  background-color: antiquewhite;
}

.form-group {
  margin-left: 33.33% ;
  float: none;
  padding: 5px;
}